<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="simpatrol.clientplugin.visuallog.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="simpatrol.clientplugin.visuallog.Perspective"
            id="simpatrol.clientplugin.visuallog.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Visual Log"
            class="simpatrol.clientplugin.visuallog.View"
            id="simpatrol.clientplugin.visuallog.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="simpatrol.clientplugin.visuallog.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="simpatrol.clientplugin.visuallog.SetupCommand"
                  label="Setup"
                  style="push">
            </command>
            <separator
                  name="simpatrol.clientplugin.visuallog.separator1">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:simpatrol.clientplugin.visuallog.view">
         <command
               commandId="simpatrol.clientplugin.visuallog.RetourCommand"
               icon="icons/bouton_retour.png"
               label="Back"
               style="push">
         </command>
         <command
               commandId="simpatrol.clientplugin.visuallog.PauseCommand"
               icon="icons/bouton_pause.png"
               label="Pause"
               style="push">
         </command>
         <command
               commandId="simpatrol.clientplugin.visuallog.PlayCommand"
               icon="icons/bouton_play.png"
               label="Play"
               style="push">
         </command>
         <command
               commandId="simpatrol.clientplugin.visuallog.AvanceCommand"
               icon="icons/bouton_avance.png"
               label="Advance"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:simpatrol.clientplugin.visuallog.view">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="simpatrol.clientplugin.visuallog.commands.Play"
            id="simpatrol.clientplugin.visuallog.PlayCommand"
            name="Play">
      </command>
      <command
            defaultHandler="simpatrol.clientplugin.visuallog.commands.Pause"
            id="simpatrol.clientplugin.visuallog.PauseCommand"
            name="Pause">
      </command>
      <command
            defaultHandler="simpatrol.clientplugin.visuallog.commands.Avance"
            id="simpatrol.clientplugin.visuallog.AvanceCommand"
            name="Advance">
      </command>
      <command
            defaultHandler="simpatrol.clientplugin.visuallog.commands.Retour"
            id="simpatrol.clientplugin.visuallog.RetourCommand"
            name="Back">
      </command>
      <command
            defaultHandler="simpatrol.clientplugin.visuallog.commands.ShowSetup"
            id="simpatrol.clientplugin.visuallog.SetupCommand"
            name="Setup">
      </command>
   </extension>
   <extension
         id="VisualLog"
         point="org.eclipse.core.runtime.products">
      <product
            application="simpatrol.clientplugin.visuallog.application"
            name="VisualLog">
         <property
               name="appName"
               value="VisualLog">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="simpatrol.clientplugin.visuallog.application"
            name="VisualLog">
         <property
               name="appName"
               value="VisualLog">
         </property>
      </product>
   </extension>

</plugin>
